<div class=" container user-auth vh-100" style="width: 50%;">
    <div class="login row justify-content-center vh-100" style="height: 100%;">
        <div class="card my-auto shadow" style="height: 60%;">
            <div class="card-body px-5">
                <div class="text-center">
                    <h1>User Login</h1>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <form [formGroup]="userLogin" class="common-form" (ngSubmit)="login()">
                    <p class="error-p">{{authError}}</p>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="email" placeholder="Enter User Email"
                            formControlName="email" required />
                        <p class="invalid-input"><span style="color: red;" *ngIf="email && email.invalid && email.touched ">Please enter valid
                                input</span></p>
                    </div>
                    <div class="form-group mt-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter User Password"
                            formControlName="password" minlength="2" maxlength="20" required />
                        <p class="invalid-input"><span  style="color: red;" *ngIf=" password && password.invalid && password.touched ">Please enter valid
                                input</span>
                        </p>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" [disabled]="userLogin.invalid" class="btn btn-primary w-100 mt-3" value="Login" name="">
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>