<hr>
<table class="table table-striped table-dark mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let data of clientList">
            <td>{{data.id}}</td>
            <td><a routerLink="{{ data.id }}" class="text-decoration-none">{{data.name}}</a></td>
            <td>{{data.address}}</td>
            <td>{{data.email}}</td>
           
        </tr>
    </tbody>
</table>